body{
    background-color: aquamarine;
}
.main_container{
    position: absolute;
    left: 50%;
    top: 60%;
    
  
    transform: translateX(-50%) translateY(-90%);
    border-radius: 20px;
   
    align-items: center;
        
}
.heading{
    background-color: rgb(219, 118, 60);
    color: rgb(248, 247, 247);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   

}
.calbox{
   padding: 20px;
  
    background-color: cornflowerblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
input{
    width: 80%;
  padding: 2px;
  height: 20px;
    
    
}
input:focus{
  
    height: 23px;
}
select{
    width: 80%;
    padding: 2px;
    height: 30px;
}
select:focus{
    height: 33px;
}
button{
    margin: 20px;
    width: 150px;
    height: 30px;
    background-color: rgb(8, 90, 184);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
   
}

#display_tip_amt{
    text-align: center;
    color: white;
    align-items: center;
       display: none;
}

p{
    color: white;
}